# See http://help.github.com/ignore-files/ for more about ignoring files.

# testing
coverage

# production
build

# misc
*.ai
*.m4v
*.mov
.DS_Store
.env
old
build.sh
release.sh
*.prg*
*.iq
*.debug.xml
